* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: rgb(30, 30, 60);
}

main {
    width: max-content;
    padding: 15px;
    margin: 0 auto;
    margin-top: 10%;
}

.main {
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px dashed whitesmoke;
}

img {
    opacity: 0.6;
}

.weather-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    height: 100%;
    padding: 10px;
    font-size: 525%;
    text-align: center;
    color: whitesmoke;
    border-radius: 20px;
}

.weather-info [data-deg] {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    letter-spacing: -10px;
}

.weather-info span:last-child{
    padding: 8px;
    font-size: 1.1rem;
    letter-spacing: 0;
}

.city-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
    padding: 20px;
    margin-left: 0px;
    border-radius: 20px;
    color: whitesmoke;
}

.city-data .city {
    margin-bottom: 10px;
    font-size: 150%;
    text-align: center;
}

.city-data .city.span {
    text-align: center;
}

.city-data .sun-timing {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    /* color: #0F0F0F; */
}

.sun-timing span {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2;
}

.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 1rem;
    color: whitesmoke;
    border: 1px dashed whitesmoke;
}

.description > span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 4px;
    margin-right: 8px;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: -1px;
    border-radius: 20px;
    color: whitesmoke;
    /* border: 2px dashed gray; */
}

.description > span img {
    /* padding: 8px; */
    border-radius: 50%;
    opacity: 1;
    margin: 4px;
    background-color: rgba(50, 50, 80, 1);
}

.description div {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    padding: 4px;
    border-radius: 20px;
    /* border: 2px dashed gray; */
}

.description div span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 20px;
}

#searchBar {
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px;
    margin: 0 auto;
    font-size: 17px;
    border-radius: 15px;
    outline: none;
    color: whitesmoke;
    border: 1px dashed whitesmoke;
    /* box-shadow: inset 5px 5px 5px #FF7A00; */
    
    background-image: url('./img/location.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center right;
    background-color: transparent;
}

#searchBar::placeholder {
    color: whitesmoke;
    opacity: 0.5;
}
.search {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}